@import "tailwindcss";

@font-face {
  font-family: "main";
  src: url(/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: "main";
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000f41;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a2a6c;
}
